body {
    font-family: 'Quicksand', sans-serif;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.article {
    text-align: left;
    margin: 100px;
    padding-left: 50px;
    line-height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.inline-img {
    max-width: 100%;
    height: auto;
}

.post-img{
    height: 404px;
    overflow: hidden; 
}
.post-img img{
    width: 100%;
}

blog-post-content h1{
    text-align: center;
}
.blog-post-content p{
    font-size: 18px; 
}

.row{
    display: flex;
}
.more-post{
    flex-direction: column; 
    align-items: center;
}
.blogpost-meta{ 
    display: flex;
    justify-content: space-between;
}

.author-info{
    margin: 12px 0;
}
.author-info div{
    padding: 4px 0px;
    font-family: var(--font2);
}
.social{
    padding-right: 53px;
    align-self: center;
    cursor: pointer;
}