#blog {
    
    position: absolute;
}

.content {
  height: 100%;
  display: flex;
  margin-top: 32px;
  padding: 9px;
  position: relative;
}
  
.content::after {
  content: "";
  background-image: url("../images/11.svg");
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.12;
  border-radius: 12px;
}
  
.content-left {
  font-family: var(--font1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ff6060;
  padding: 49px;
  z-index: 1;
}

  .content-left p {
    color: #e95656;
  }
  
  .content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  
  .content-right img {
    height: 355px;
    border-radius: 200px;
    box-shadow: 5px 5px 5px rgb(252, 128, 97);
  }
  
  .home-articles {
    padding: 40px;
    margin-top: 23px;
    position: absolute;
    color: #ff7676;
  }

  .home-article {
    display: flex;
    margin: 25px;
  }
  
  .home-article img {
    width: 300px;
  }
  
  .home-article-content {
    align-self: center;
    padding: 25px;
  }

  .home-article-content h3 {
    color: #f56161;
  }

  .home-article-content p {
    color: #e84343;
  }
  
  .home-article-content a {
    text-decoration: none;
    color: black;
  }

  .font1 {
    font-family: var(--font1);
  }
  .font2 {
    font-family: var(--font2);
  }
  
  .max-width-1 {
    max-width: 80vw;
  }
  
  .max-width-2 {
    max-width: 60vw;
  }
  
  .m-auto {
    margin: auto;
  }
  
  .mx-1{
    margin-left: 23px;
    margin-right: 23px;
  }
  
  .my-2{
    margin-top: 32px;
    margin-bottom: 32px;
  }